1) Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

2) Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [1]:
test2 = open('test.txt')
test2.read()

"test1 = 'This is a test of emergency text system'"

3) Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

4) Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

table = """ CREATE TABLE Books (TITLE text, AUTHOR text, YEAR integer)"""

cursor.execute(table)

5) Read books.csv and insert its data into the book table.

In [5]:
import csv

file = open('books.csv')
contents = csv.reader(file)

insert_records = "INSERT INTO Books (TITLE, AUTHOR, YEAR) VALUES(?, ?, ?)"

cursor.executemany(insert_records, contents)

select_all = "SELECT * FROM Books"
rows = cursor.execute(select_all).fetchall()
 
for r in rows:
    print(r)

conn.commit()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

6) Select and print the title column from the book table in alphabetical order.

In [6]:
q = "SELECT * FROM Books ORDER BY TITLE" 
rows = cursor.execute(q)
 
for r in rows:
    print(r)

('Perdido Street Station', 'China Miéville', 2000)
('Small Gods', 'Terry Pratchett', 1992)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Thud!', 'Terry Pratchett', 2005)

7) From the book table, select and print all columns in the order of publication.

In [7]:
q = "SELECT * FROM Books ORDER BY YEAR" 
rows = cursor.execute(q)
 
for r in rows:
    print(r)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8) Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db')

sql = 'select TITLE from BOOKS order by TITLE asc'

rows = conn.execute(sql)

for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

9) Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [9]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test',{'count':1,'name':'Fester Bestertester'})
conn.hgetall('test')

<ipython-input-9-f05219dd20fc>:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test',{'count':1,'name':'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

10) Increment the count field of test and print it.

In [10]:
conn.hincrby('test', 'count',3)
conn.hget('test','count')

b'4'